accelerate==1.2.1
aiohttp==3.11.11
datasets==2.21.0
einops==0.7.0
huggingface-hub==0.30.2
numpy==1.26.4
openai==1.58.1
pandas==2.2.3
pillow==11.0.0
pytorch==2.5.1
requests==2.32.3
sae-lens==5.2.1
scikit-learn==1.6.0
scipy==1.14.1
tokenizers==0.21.0
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
transformers==4.47.1
wandb==0.19.1